In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Sourav Balan\Downloads\Sales_add.csv")

In [3]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

H0:There is no effect in Sales after Digital markeing

H1:There is significant effect in Sales after Digital marketing

Using t test

In [4]:
from scipy.stats import ttest_ind

In [5]:
t_stat,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [6]:
t_stat

-12.995084451110877

In [7]:
p_value

2.614368006904645e-16

In [8]:
if p_value<0.05:
    print('H0 Rejected')
else:
    print('H0 Accepted')

H0 Rejected

# ● The company needs to check whether there is any dependency between thefeatures “Region” and “Manager”.

Checking dependancy among Range and Manager using Chi square test of independence

H0:There is no dependancy amaong Region and Manager

H1:There is dependancy among Region and Manager

In [9]:
from scipy.stats import chi2_contingency

In [10]:
arg=pd.crosstab(data['Region'],data['Manager'],).values
_,pval,_,_=chi2_contingency(arg)

In [11]:
pval

0.5493991051158094

In [12]:
if pval<0.05:
    print('H0 Rejected')
else:
    print('H0 Accepted')

H0 Accepted